<!DOCTYPE html>
<html>
<head>
  <title>Signap</title>
  <%= stylesheet_link_tag    "signap/application", media: "all" %>
  <%= javascript_include_tag "signap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
